# cache-bust: v1
icebreaker[swift, data, pararellism, qdrant] @ git+https://github.com/K123AsJ0k1/ice-mlops-mlch.git@main#subdirectory=applications/packages/icebreaker
pip install torch --index-url https://download.pytorch.org/whl/cu130
pip install sentence-transformers
pip install fastembed-gpu